aiohttp
configparser
future

# Basic modules
gensim
pipmaster
pydantic
python-dotenv

setuptools
tenacity

# LLM packages
tiktoken
xlsxwriter>=3.1.0

# Extra libraries are installed when needed using pipmaster
graspologic>=3.4.1
